doctype html
html
    head
        title Ciao Mondo
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        header.container.mt-4
            .row
                .col
                    h1 Hello World
                    div All'inizio ero solo
                    div A parlare del buio
                    div E forse a volte stonavo però
        main.container.mt-4
            .row
                .col-md-6
                    section
                        h2 Sezione Principale
                        p Questo è un paragrafo nella sezione principale.
                .col-md-6
                    section
                        h2 Un'altra Sezione
                        p Questo è un altro paragrafo in un'altra sezione.
